# IDE
android-studio*/
.idea/
*.iml

# Gradle
.gradle/
build/
*/build/

# Local configs
local.properties

# Kotlin
.kotlin/

# Logs e caches
*.log
captures/

# Android
.externalNativeBuild/
.cxx/

# OS files
.DS_Store
Thumbs.db

#GitHub
.github/
